In [3]:
# Pandas DataFrame Demo

import pandas as pd

In [4]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['John', 'Emma', 'Ryan', 'Emily'],
    'Age': [25, 28, 22, 24],
    'City': ['New York', 'London', 'Paris', 'Sydney']
}

In [5]:
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

DataFrame:
    Name  Age      City
0   John   25  New York
1   Emma   28    London
2   Ryan   22     Paris
3  Emily   24    Sydney

In [6]:
# Accessing columns
print("\nName column:")
print(df['Name'])

Name column:
0     John
1     Emma
2     Ryan
3    Emily
Name: Name, dtype: object

In [7]:
# Accessing rows
print("\nFirst row:")
print(df.loc[0])

First row:
Name        John
Age           25
City    New York
Name: 0, dtype: object

In [8]:
# Adding a new column
df['Country'] = ['USA', 'UK', 'France', 'Australia']
print("\nUpdated DataFrame:")
print(df)

Updated DataFrame:
    Name  Age      City    Country
0   John   25  New York        USA
1   Emma   28    London         UK
2   Ryan   22     Paris     France
3  Emily   24    Sydney  Australia

In [9]:
# Modifying values
df.loc[2, 'Age'] = 23
print("\nUpdated DataFrame:")
print(df)

Updated DataFrame:
    Name  Age      City    Country
0   John   25  New York        USA
1   Emma   28    London         UK
2   Ryan   23     Paris     France
3  Emily   24    Sydney  Australia

In [10]:
# Removing a column
df.drop('Country', axis=1, inplace=True)
print("\nUpdated DataFrame:")
print(df)

Updated DataFrame:
    Name  Age      City
0   John   25  New York
1   Emma   28    London
2   Ryan   23     Paris
3  Emily   24    Sydney

In [11]:
# Filtering rows based on a condition
filtered_df = df[df['Age'] > 24]
print("\nFiltered DataFrame:")
print(filtered_df)

Filtered DataFrame:
   Name  Age      City
0  John   25  New York
1  Emma   28    London

In [12]:
# Sorting the DataFrame
sorted_df = df.sort_values('Age')
print("\nSorted DataFrame:")
print(sorted_df)

Sorted DataFrame:
    Name  Age      City
2   Ryan   23     Paris
3  Emily   24    Sydney
0   John   25  New York
1   Emma   28    London

In [13]:
# Creating a new DataFrame from a subset of columns
subset_df = df[['Name', 'City']] # notice the double brackets! Inside is a list of column names. The will produce a new DataFrame.
print("\nSubset DataFrame:")
print(subset_df)

Subset DataFrame:
    Name      City
0   John  New York
1   Emma    London
2   Ryan     Paris
3  Emily    Sydney